In [1]:
import pandas as pd
import numpy as np
from google.colab import files
uploaded = files.upload()

Saving Cars_English_v5.xlsx to Cars_English_v5.xlsx

In [15]:
uploaded2 = files.upload()

Saving IsSUV.xlsx to IsSUV.xlsx

In [16]:
uploaded3 = files.upload()

Saving SeatsAmount.xlsx to SeatsAmount.xlsx

In [17]:
cars = pd.read_excel('Cars_English_v5.xlsx')
isSUV= pd.read_excel('IsSUV.xlsx')
isSUV.head(20)

     model  isSUV
0      107      0
1   150E25      0
2        3      0
3      308      0
4      313      0
5      314      0
6      316      0
7      319      0
8      416      0
9        5      0
10     500      0
11     508      0
12     513      0
13     515      0
14     516      0
15     518      0
16     519      0
17     640      0
18   65C18      0
19   70C17      0

In [18]:
dict1=dict(zip(isSUV.model,isSUV.isSUV))
print(dict1)

{'107': 0, '150E25': 0, '3': 0, '308': 0, '313': 0, '314': 0, '316': 0, '319': 0, '416': 0, '5': 0, '500': 0, '508': 0, '513': 0, '515': 0, '516': 0, '518': 0, '519': 0, '640': 0, '65C18': 0, '70C17': 0, '740': 0, 'A1': 0, 'A180': 0, 'A200': 0, 'A250': 0, 'A45': 0, 'A5': 0, 'Accent': 0, 'Actros 1844': 0, 'Actros 1845': 0, 'Actros 2536': 0, 'Actros 2540': 0, 'Actros 2541': 0, 'Actros 2542': 0, 'Actros 2545': 0, 'Actros 2548': 0, 'Actros 2644': 0, 'Actros 2645': 0, 'Actros 2648': 0, 'Actros 2652': 0, 'Actros 3241': 0, 'Actros 3344': 0, 'Actros 3351': 0, 'Actros 4144': 0, 'Actros 4151': 0, 'AMG-GT': 0, 'Antos 1827': 0, 'Antos 2536': 0, 'Antos 2540': 0, 'Arocs 1827': 0, 'Arocs 2636': 0, 'Arocs 2645': 0, 'Arocs 2648': 0, 'Arocs 3240': 0, 'Arocs 3245': 0, 'Arocs 3342': 0, 'Arocs 3352': 0, 'Arocs 4145': 0, 'Arocs 4148': 0, 'Arocs 4152': 0, 'AS440S48TZ\\P': 0, 'Astra': 0, 'ASX': 1, 'Atego 1018': 0, 'Atego 1024': 0, 'Atego 1218': 0, 'Atego 1221': 0, 'Atego 1223': 0, 'Atego 1224': 0, 'Atego 1523': 0, 'Atego 1524': 0, 'Atego 1527': 0, 'Atego 1530': 0, 'Attrage': 0, 'B180': 0, 'B200': 0, 'BT-50': 1, 'Bus C10': 0, 'Bus C13': 0, 'C1\u200f': 0, 'C180': 0, 'C200': 0, 'C220': 0, 'C250': 0, 'C3 Picasso': 0, 'C300\u200f': 0, 'C350': 0, 'C4 Picasso': 0, 'C400': 0, 'C43 AMG': 0, 'C450': 0, 'C5\u200f': 1, 'C63': 0, 'Camry': 0, 'Canter 7C15': 0, 'Canter 7C18': 0, 'Canter 7C18D': 0, 'Canter 9C18': 0, 'Captiva': 1, 'Caravelle': 0, 'Cayenne': 1, 'Ceed': 0, 'Cherokee': 1, 'CITAN': 0, 'Civic': 0, 'CL500': 0, 'CLA180': 0, 'CLA200': 0, 'CLA250': 0, 'CLA45': 0, 'Clio': 0, 'CLS350': 0, 'CLS400': 0, 'CLS450': 0, 'CLS500': 0, 'CLS53 AMG': 0, 'CLS63': 0, 'Colt': 0, 'Corolla': 0, 'Corsa': 0, 'Crapter': 0, 'Crossover': 1, 'Cruze': 0, 'CR-V': 0, 'CX5': 0, 'Ducato': 0, 'E200': 0, 'E220': 0, 'E250': 0, 'E300': 0, 'E320': 0, 'E350': 0, 'E400': 0, 'E43 AMG': 0, 'E63': 0, 'Eclipse': 1, 'Elantra': 0, 'FAD XF460Z': 0, 'FAD85410T': 0, 'FA-LF55.220.G15': 0, 'FH': 0, 'FH12': 0, 'FH13': 0, 'FH64': 0, 'FH84FR': 0, 'FLH 42': 0, 'FLL15': 0, 'Fluence': 0, 'FM': 0, 'FMX': 0, 'Forester': 1, 'ForFour': 0, 'ForTwo': 0, 'G350': 1, 'Genesis': 0, 'GL350': 1, 'GLA200': 1, 'GLA220': 1, 'GLA250': 1, 'GLA45': 1, 'GLC220': 1, 'GLC250': 1, 'GLC350 E': 1, 'GLC43 AMG': 1, 'GLE 43 AMG': 1, 'GLE 63 AMG': 1, 'GLE250': 1, 'GLE350': 1, 'GLE400': 1, 'GLE450': 1, 'GLE500': 1, 'GLS350': 1, 'GLS400': 1, 'Golf': 0, 'Grand cherokee': 1, 'Grand coupe': 0, 'Grand Scenic': 0, 'Grand Vitara': 1, 'Grandis': 0, 'H-1': 0, 'H-350': 0, 'I-10': 0, 'I-20': 0, 'I-25': 0, 'I-30': 0, 'I-35': 0, 'I-40': 0, 'Ibiza': 0, 'Insignia': 0, 'Ioniq': 0, 'IX-35\u200f': 1, 'JAZZ': 1, 'Jetta': 0, 'Juke': 0, 'Jumpy': 0, 'KIB': 0, 'Kona': 1, 'L200': 1, 'L350': 1, 'Lacrosse': 0, 'Lancer': 0, 'Malibu': 0, 'Master 3.5 Ton': 0, 'Master 4.5 Ton': 0, 'ML250': 1, 'ML350': 1, 'ML500': 1, 'NPR75': 0, 'OC 500': 0, 'Outlander': 1, 'Pajero': 1, 'Passat': 0, 'Picanto': 0, 'Premium': 0, 'Prius': 0, 'Q5': 1, 'Q-50': 0, 'Qashqui': 1, 'Qubo': 0, 'R124SBB': 0, 'R420': 0, 'R440': 0, 'Rapid': 0, 'Rav4': 1, 'Rio': 0, 'S3': 0, 'S300': 0, 'S350': 0, 'S400': 0, 'S450': 0, 'S500': 0, 'S560': 0, 'S63': 0, 'Santa fe': 1, 'Scenic': 0, 'SLK200': 0, 'SLK300': 0, 'SLK55': 0, 'Sonata': 0, 'Sonic': 0, 'Soul': 0, 'Space Star': 0, 'Spark': 0, 'Sportage': 1, 'Starkis AS440S50 T/P': 0, 'Starkis AS440S54': 0, 'Superb': 0, 'Swift': 0, 'SX4': 0, 'TGA': 0, 'TGM15.240': 0, 'TGS35.400': 0, 'TGS35.480': 0, 'TGX26.440': 0, 'Trax': 1, 'TT': 0, 'Tucson': 1, 'V220': 0, 'V250': 0, 'Veloster': 0, 'Viano': 0, 'Vitara': 1, 'Vito': 0, 'X5': 1, 'X6': 1, 'XV': 1}

In [20]:
cars

         num_id       brand   model  ...      car_price  is_male  ind_sold
0      10006776    Mercedes    C220  ...   69000.000000        0         0
1      10008526    Mercedes    V220  ...  260000.000000        1         1
2      10008996  Mitsubishi    L200  ...  180256.512821        0         0
3      10013906     Hyundai  Tucson  ...  141795.017094        1         1
4      10021356     Hyundai    I-20  ...   90078.034188        0         1
...         ...         ...     ...  ...            ...      ...       ...
11550  99957497  Mitsubishi  Pajero  ...  268708.504274        1         0
11551  99958487    Mercedes    C220  ...  149900.000000        0         0
11552  99982187     Hyundai    I-20  ...   94368.606838        0         0
11553  99992866  Mitsubishi  Lancer  ...  101719.000000        1         0
11554  99997528     Hyundai  Sonata  ...  154616.034188        0         0

[11555 rows x 13 columns]

In [23]:
cars['isSUV']= cars["model"].map(dict1)

In [24]:
cars

         num_id       brand   model  ...  is_male  ind_sold  isSUV
0      10006776    Mercedes    C220  ...        0         0      0
1      10008526    Mercedes    V220  ...        1         1      0
2      10008996  Mitsubishi    L200  ...        0         0      1
3      10013906     Hyundai  Tucson  ...        1         1      1
4      10021356     Hyundai    I-20  ...        0         1      0
...         ...         ...     ...  ...      ...       ...    ...
11550  99957497  Mitsubishi  Pajero  ...        1         0      1
11551  99958487    Mercedes    C220  ...        0         0      0
11552  99982187     Hyundai    I-20  ...        0         0      0
11553  99992866  Mitsubishi  Lancer  ...        1         0      0
11554  99997528     Hyundai  Sonata  ...        0         0      0

[11555 rows x 14 columns]

In [25]:
seatsAmount= pd.read_excel('SeatsAmount.xlsx')
seatsAmount.head(20)

     model  seatsAmount
0      107            5
1   150E25            3
2        3            5
3      308            5
4      313            2
5      314            2
6      316            9
7      319            8
8      416           20
9        5            5
10     500            4
11     508            5
12     513            2
13     515           15
14     516           17
15     518           20
16     519           19
17     640            5
18   65C18           10
19   70C17           20

In [26]:
dict2=dict(zip(seatsAmount.model,seatsAmount.seatsAmount))
print(dict2)

{'107': 5, '150E25': 3, '3': 5, '308': 5, '313': 2, '314': 2, '316': 9, '319': 8, '416': 20, '5': 5, '500': 4, '508': 5, '513': 2, '515': 15, '516': 17, '518': 20, '519': 19, '640': 5, '65C18': 10, '70C17': 20, '740': 5, 'A1': 5, 'A180': 5, 'A200': 5, 'A250': 5, 'A45': 5, 'A5': 5, 'Accent': 5, 'Actros 1844': 2, 'Actros 1845': 2, 'Actros 2536': 2, 'Actros 2540': 2, 'Actros 2541': 2, 'Actros 2542': 2, 'Actros 2545': 2, 'Actros 2548': 2, 'Actros 2644': 2, 'Actros 2645': 2, 'Actros 2648': 2, 'Actros 2652': 2, 'Actros 3241': 2, 'Actros 3344': 2, 'Actros 3351': 2, 'Actros 4144': 2, 'Actros 4151': 2, 'AMG-GT': 5, 'Antos 1827': 2, 'Antos 2536': 2, 'Antos 2540': 2, 'Arocs 1827': 2, 'Arocs 2636': 2, 'Arocs 2645': 2, 'Arocs 2648': 2, 'Arocs 3240': 2, 'Arocs 3245': 2, 'Arocs 3342': 2, 'Arocs 3352': 2, 'Arocs 4145': 2, 'Arocs 4148': 2, 'Arocs 4152': 2, 'AS440S48TZ\\P': 2, 'Astra': 5, 'ASX': 5, 'Atego 1018': 2, 'Atego 1024': 2, 'Atego 1218': 2, 'Atego 1221': 2, 'Atego 1223': 2, 'Atego 1224': 2, 'Atego 1523': 2, 'Atego 1524': 2, 'Atego 1527': 2, 'Atego 1530': 2, 'Attrage': 5, 'B180': 5, 'B200': 5, 'BT-50': 5, 'Bus C10': 40, 'Bus C13': 50, 'C1\u200f': 5, 'C180': 5, 'C200': 5, 'C220': 5, 'C250': 5, 'C3 Picasso': 5, 'C300\u200f': 5, 'C350': 5, 'C4 Picasso': 5, 'C400': 5, 'C43 AMG': 5, 'C450': 5, 'C5\u200f': 5, 'C63': 5, 'Camry': 5, 'Canter 7C15': 3, 'Canter 7C18': 3, 'Canter 7C18D': 3, 'Canter 9C18': 3, 'Captiva': 5, 'Caravelle': 9, 'Cayenne': 5, 'Ceed': 5, 'Cherokee': 5, 'CITAN': 2, 'Civic': 5, 'CL500': 5, 'CLA180': 5, 'CLA200': 5, 'CLA250': 5, 'CLA45': 5, 'Clio': 5, 'CLS350': 5, 'CLS400': 5, 'CLS450': 5, 'CLS500': 5, 'CLS53 AMG': 5, 'CLS63': 5, 'Colt': 5, 'Corolla': 5, 'Corsa': 5, 'Crapter': 3, 'Crossover': 5, 'Cruze': 5, 'CR-V': 5, 'CX5': 5, 'Ducato': 4, 'E200': 5, 'E220': 5, 'E250': 5, 'E300': 5, 'E320': 5, 'E350': 5, 'E400': 5, 'E43 AMG': 5, 'E63': 5, 'Eclipse': 5, 'Elantra': 5, 'FAD XF460Z': 3, 'FAD85410T': 3, 'FA-LF55.220.G15': 3, 'FH': 3, 'FH12': 3, 'FH13': 3, 'FH64': 3, 'FH84FR': 3, 'FLH 42': 3, 'FLL15': 3, 'Fluence': 5, 'FM': 2, 'FMX': 2, 'Forester': 5, 'ForFour': 4, 'ForTwo': 2, 'G350': 5, 'Genesis': 5, 'GL350': 5, 'GLA200': 5, 'GLA220': 5, 'GLA250': 5, 'GLA45': 5, 'GLC220': 5, 'GLC250': 5, 'GLC350 E': 5, 'GLC43 AMG': 5, 'GLE 43 AMG': 5, 'GLE 63 AMG': 5, 'GLE250': 5, 'GLE350': 5, 'GLE400': 5, 'GLE450': 5, 'GLE500': 5, 'GLS350': 5, 'GLS400': 5, 'Golf': 5, 'Grand cherokee': 5, 'Grand coupe': 5, 'Grand Scenic': 5, 'Grand Vitara': 5, 'Grandis': 7, 'H-1': 11, 'H-350': 14, 'I-10': 5, 'I-20': 5, 'I-25': 5, 'I-30': 5, 'I-35': 5, 'I-40': 5, 'Ibiza': 5, 'Insignia': 5, 'Ioniq': 5, 'IX-35\u200f': 5, 'JAZZ': 5, 'Jetta': 5, 'Juke': 5, 'Jumpy': 5, 'KIB': 42, 'Kona': 5, 'L200': 5, 'L350': 5, 'Lacrosse': 5, 'Lancer': 5, 'Malibu': 5, 'Master 3.5 Ton': 7, 'Master 4.5 Ton': 7, 'ML250': 5, 'ML350': 5, 'ML500': 5, 'NPR75': 3, 'OC 500': 51, 'Outlander': 5, 'Pajero': 5, 'Passat': 5, 'Picanto': 5, 'Premium': 3, 'Prius': 5, 'Q5': 5, 'Q-50': 5, 'Qashqui': 5, 'Qubo': 5, 'R124SBB': 3, 'R420': 3, 'R440': 3, 'Rapid': 5, 'Rav4': 5, 'Rio': 5, 'S3': 5, 'S300': 5, 'S350': 5, 'S400': 5, 'S450': 5, 'S500': 5, 'S560': 5, 'S63': 5, 'Santa fe': 5, 'Scenic': 5, 'SLK200': 2, 'SLK300': 2, 'SLK55': 2, 'Sonata': 5, 'Sonic': 5, 'Soul': 5, 'Space Star': 5, 'Spark': 5, 'Sportage': 5, 'Starkis AS440S50 T/P': 3, 'Starkis AS440S54': 3, 'Superb': 5, 'Swift': 5, 'SX4': 5, 'TGA': 3, 'TGM15.240': 3, 'TGS35.400': 3, 'TGS35.480': 3, 'TGX26.440': 3, 'Trax': 5, 'TT': 2, 'Tucson': 5, 'V220': 7, 'V250': 7, 'Veloster': 4, 'Viano': 7, 'Vitara': 5, 'Vito': 8, 'X5': 5, 'X6': 5, 'XV': 5}

In [27]:
cars['seatsAmount']= cars["model"].map(dict2)
cars

         num_id       brand   model  ...  ind_sold  isSUV  seatsAmount
0      10006776    Mercedes    C220  ...         0      0            5
1      10008526    Mercedes    V220  ...         1      0            7
2      10008996  Mitsubishi    L200  ...         0      1            5
3      10013906     Hyundai  Tucson  ...         1      1            5
4      10021356     Hyundai    I-20  ...         1      0            5
...         ...         ...     ...  ...       ...    ...          ...
11550  99957497  Mitsubishi  Pajero  ...         0      1            5
11551  99958487    Mercedes    C220  ...         0      0            5
11552  99982187     Hyundai    I-20  ...         0      0            5
11553  99992866  Mitsubishi  Lancer  ...         0      0            5
11554  99997528     Hyundai  Sonata  ...         0      0            5

[11555 rows x 15 columns]

In [29]:
cars.isna().sum()
#no nulls

num_id              0
brand               0
model               0
isNew               0
isWorkCar           0
age                 0
funding_amount      0
fundingPercent      0
month_payment       0
payment_duration    0
car_price           0
is_male             0
ind_sold            0
isSUV               0
seatsAmount         0
dtype: int64

In [30]:
cars.to_excel("Cars_English_v6.xlsx", index=False)